* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

@font-face {
    font-family: "Lato-Regular";
    src: url("./fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato-Light";
    src: url("./fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/* ---------header------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #222;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 33px;
}

/* ----------top---------------------------- */
.top {
    display: flex;
    align-items: center;
    background: #F1E4E6;
    gap: 43px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.top_text {
    display: inline-block;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-bottom: 90px;
}

.top_text_main {
    color: #222;
    font-family: "Lato-Bold";
    font-size: 48px;
    font-weight: 900;
}

.top_text_1 {
    color: #222;
    font-family: "Lato-Regular";
    font-size: 32px;
    font-weight: 700;
}

.top_text_2 {
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 32px;
    font-weight: 700;
}


/* ----------offer--------------------------- */
.offer {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    /* grid-area: 2/1/3/3; */
    gap: 30px;
}

.offer_item {
    position: relative;
    background: rgba(33, 22, 22, 0.70);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.offer_item img {
    width: 100%;
    z-index: -1;
}

.offer_item h4 {
    position: absolute;
    text-align: center;
}

.offer_text_1 {
    color: #FFF;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-weight: 400;
}

.offer_text_2 {
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 24px;
    font-weight: 700;
}


/* ----------product-------------------------- */
.product_title {
    margin-top: 96px;
    margin-bottom: 49px;
    text-align: center;
    gap: 6px;
}

.product_title_text {
    color: #222;
    font-family: "Lato-Regular";
    font-size: 30px;
    font-weight: 400;
}

.product_description_text {
    color: #9F9F9F;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-weight: 400;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.catalog_item {
    background: #F8F8F8;
}

.product_item_title {
    color: #000;
    font-family: "Lato-Bold";
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}

.product_item_description {
    padding: 24px 16px;
}

.product_item_text {
    color: #5D5D5D;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.product_item_price {
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-weight: 400;
}

.product_button {
    display: block;
    margin: 48px auto 65px auto;
    padding: 14px 28.5px;
    color: #F26376;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-weight: 400;
    background: #FFF;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    margin-bottom: 60px;
}