* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

@font-face {
    font-family: "Lato-Regular";
    src: url("./fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato-Light";
    src: url("./fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/* ---------header----------- */
.header {
    display: flex;
    justify-content: space-between;

    background: #222;
}

.header_left {
    padding-top: 18px;
    padding-bottom: 18px;
    gap: 41px;
}

.header_right {
    padding-top: 26px;
}

/* ----------top-------------- */
.top {
    display: flex;
    justify-content: left;
    background: #F1E4E6;
}

.top_img_1 {
    justify-self: left;
}


.top_img_2 {
    align-self: center;
    margin-right: 16px;
}

.top_text {
    align-self: center;
}


.top_text_main {
    color: #222;
    font-family: "Lato-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top_text_1 {
    color: #222;
    font-family: "Lato-Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_text_2 {
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* ----------offer------------ */
.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-column: 1/3; */
    /* grid-row: 2/3; */
    /* grid-area: 2 / 1 / 3 / 3;*/
}

.offer_text_1 {
    color: #000000;
    text-align: center;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.offer_text_2 {
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



/* ----------product--------- */
.product_title {
    text-align: center;
    gap: 6px;
    margin-bottom: 49px;
}

.product_title_text {
    color: #222;

    font-family: "Lato-Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.product_description_text {
    color: #9F9F9F;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.product_item_title {
    color: #000;
    font-family: "Lato-Bold";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.product_item_description {
    padding: 24px 16px;
    background: #F8F8F8;
}

.product_item_text {
    color: #5D5D5D;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;
}

.product_item_price {
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.product_button {
    display: flex;
    justify-content: center;

}

.product_button_all {
    color: #F26376;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    border-color: #FF6A6A;
    padding: 16px 39px 14px 39px;
    margin-top: 48px;
    margin-bottom: 60px;
}